.slider-image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.slider-image h2 { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}

.slider-image h2 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); 
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

 .slider-image h2 span.spacer {
   padding:0 5px;
   background:none;
}  

@media (max-width: 873px) {
	.slider-image h2 { 
		display: none;
	}

}
#home-slider .item img{
   display: block;
   width: 100%;
   height: 400px;

}

.form-slide-container{
	position: relative;
}

   #searchForm {
	position:absolute;
  	top:12%;
}

.btn-primary:hover, .btn-group .btn-primary:hover, .btn-group .btn-primary:active, .btn-group .btn-primary:focus,.open > .dropdown-toggle.btn-primary:hover,.open > .dropdown-toggle.btn-primary:focus {
    color: #000000;
    background-color: #B71515;
    border-color: #fbf4f4;
}

.home_form_select{
cursor: pointer;
}